#root {
  overflow-x: hidden;
}

.page-container {
  height: 100%;
  width: 100vw;
  background-color: #181818;

  padding-top: 80px; /* Navbar padding */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.img-container {
  height: 20vw;
  width: 20vw;
  margin: 20px 20px 20px 20px;
  border: solid 2px white;
}

.img-placeholder {
  height: 20vw;
  width: 20vw;
  margin: 20px 20px 20px 20px;
  visibility: hidden;
}

.flex-break {
  flex-basis: 100%;
}
